.carousel-height{
    height:400px
}

/* .carousel-container {
    position: relative;
    margin: 100px;
    border: 2px dotted lightgray;
    padding: 100px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: none;
    height: 50vh;
} */